*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
*.svg
build
captures
.externalNativeBuild
.cxx
keys.properties
secrets.xml
google-services.json
Makefile
