<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.bikebean.app"
    >
    <!--
    For Permission protection levels (whether runtime permission request is needed),
    see https://developer.android.com/reference/android/Manifest.permission.html.

    For Information about Permissions and permission requests,
    see https://developer.android.com/guide/topics/permissions/overview.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- normal -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- normal -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- dangerous -->
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- dangerous -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- dangerous -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- dangerous -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- dangerous -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- normal -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.main.status.menu.log.LogActivity"
            android:label="@string/log">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bikebean.app.MainActivity" />
        </activity>
        <activity
            android:name=".ui.main.status.menu.preferences.PreferencesActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bikebean.app.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.status.menu.sms_history.SmsActivity"
            android:label="@string/title_activity_sms">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bikebean.app.MainActivity" />
        </activity>
        <activity
            android:name=".ui.main.status.menu.history.HistoryActivity"
            android:label="@string/history">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.bikebean.app.MainActivity" />
        </activity>
        <activity android:name=".ui.initialization.InitialConfigurationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <receiver
            android:name=".ui.utils.sms.listen.SmsListener"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>